.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
#!.yarn/cache
.pnp.*
.next/
.yarn/cache/ 
node_modules/ 
package-lock.json
.next/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
*.sqlite
*.log
alembic.ini
alembic/
node_modules/
".next/ 
*.node 
dist/
.yarn/
.yarnrc.yml
yarn.lock
*.pnp.*
.env.local
.env.development
.env.production"frontend/" 
.vscode/
.idea/
!alembic/
!alembic/versions/
!alembic/env.py
!alembic/script.py.mako
*.py[cod]
ENV/
.vercel
